body {
    background-color: #eaeaea;
}
#wrapper {
    width: 1000px;
    margin: 0px auto;
    padding: 10px;
    background-color: white;
}
/* FONTS */
h1, h2, h3, h4, h5, h6, button, table, tbody, thead, tr, th, td, div, span, a, input, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2e2e2e;
}
h1 {
    font-size: 26px;
    line-height: 26px;
    color: #2c5c93;
    margin-top: 10px;
}
h2 {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
}
h2:first-child {
    margin-top: 20px;
}
h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
p {
    font-size: 14px;
    line-height: 20px;
}
/* MOVIE SEARCH */
#searchBox, #randomMovie {
    display: block;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 15px;
}
#movieResults {
    display: inline-block;
    padding-right: 10px;
    width: 66.36%;
    margin-left: 10px;
    vertical-align: top;
}
#boxOffice {
    color: green;
}
#moviePoster {
    display: inline-block;
    padding-right: 10px;
    width: 30%;
    vertical-align: top;
}
#movieSite {
    display: block;
    margin-top: 20px;
    background-color: #2e2e2e;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 15px;
}
#plotShow, #plotHide {
    font-weight: bold;
}
#plotHide, #plotInfo {
    display: none;
}
#plotInfo {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #2e2e2e;
}
/* SPECIFIC CLASSES */
.borderBox {
    box-sizing: border-box;
}
.textCenter {
    text-align: center;
}
.bottomBorder {
    border-bottom: 1px solid #2e2e2e
}
.inBlock {
    display: inline-block;
}
.verTop {
    vertical-align: top;
}
.italic {
    font-style: italic;
}
.block {
    display: block;
}